[submodule "vendor/antfu-skills"]
	path = vendor/antfu-skills
	url = https://github.com/antfu/skills.git
[submodule "vendor/sanity-agent-toolkit"]
	path = vendor/sanity-agent-toolkit
	url = https://github.com/sanity-io/agent-toolkit.git
[submodule "vendor/gsap-skills"]
	path = vendor/gsap-skills
	url = https://github.com/greensock/gsap-skills
[submodule "vendor/vercel-agent-skills"]
	path = vendor/vercel-agent-skills
	url = https://github.com/vercel-labs/agent-skills.git
[submodule "vendor/shopify-ai-toolkit"]
	path = vendor/shopify-ai-toolkit
	url = https://github.com/Shopify/Shopify-AI-Toolkit.git
[submodule "vendor/julius-skills"]
	path = vendor/julius-skills
	url = https://github.com/JuliusBrussee/skills.git
[submodule "vendor/ponytail-skills"]
	path = vendor/ponytail-skills
	url = https://github.com/dietrichgebert/ponytail.git
