[submodule "vendor/antfu-skills"]
	path = vendor/antfu-skills
	url = https://github.com/antfu/skills.git
[submodule "vendor/sanity-agent-toolkit"]
	path = vendor/sanity-agent-toolkit
	url = https://github.com/sanity-io/agent-toolkit.git
[submodule "vendor/antigravity-awesome-skills"]
	path = vendor/antigravity-awesome-skills
	url = https://github.com/sickn33/antigravity-awesome-skills.git
